@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
@media (min-width:400px){
    .global-search {
        padding: 20px 0;
        text-align:center;
    }
    body {
        /*padding-top: 5%;*/
        /*padding-bottom: 15px;*/
        text-align: center;
        "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #79aec8;
    }
    .global-search {
        text-align:center;
        padding:10px;
    }
    .global-search .form-control {
        width:500px;
    }
    .global-search * {
        display:inline-block;
        margin-bottom:0;
    }
}
.main{
    width: 80%;
    min-height: 100%;
    background-color: white;
    margin: auto;
}
.main_bottom{
    min-height: 800px;
}
.topcorner{
    position:relative;
    text-align: center;
    width: 100%;
}
.btn{
    background-color: #4285F4;
    border: none;
    text-align: center;
}
.submit_button{
    text-align: center;
}
.step-links a{
color: #4285F4;
}

/*word cloud styling*/
.word_cloud {
    position: relative;
    display: inherit;
    width: 600px;
    margin: auto;
}
.refine_word_cloud{
    border: 1px solid black;
    border-radius: 2px;
    width: 200px;
}
.refine_word_cloud:hover{
    background-color: #d8d8d8;
    cursor: pointer;
}
.wc_word {
    padding: 10px;
}
.wc_word:hover{
    color: gray;
    cursor: pointer;
}
.wc_selected{
    padding: 10px;
    color: rgba(66, 133, 244, 0.58);
}
.wc_selected:hover {
    cursor: pointer;
}
.refine{
    padding:10px
}

/*airbnb and hotel tile styling*/
.output {
    text-align: center;
    margin: auto;
    display: inline-block;
    vertical-align: top;
}
.tile {
    background-color: white;
    color: #484848;
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    max-width: 600px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
    background-color: white;
}
.tile_icon {
    width: auto;
    min-width: 200px;
    height: 100%;
    overflow: hidden;
}
.tile:hover{
    background-color: rgba(66, 133, 244, 0.1);
    text-decoration: none;
    cursor: pointer;
}
.imgWrap{
    height: 200px;
    width: 200px;
    float: left;
    overflow: hidden;

}

.check_label{
    padding: 10px;
    padding-left: 0;
}

.hotel{
    background-color: #589442;
}

.airbnb{
    background-color: #ff5a5f;
}


/** adapted from 
https://codepen.io/Bluetidepro/pen/GkpEa?editors=1100
*/ 

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 125px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

/**
end adaptation
*/