{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="{% static 'main.js' %}"></script>

    </head>
    
    <body>
        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <div class="topcorner">
            <p>Airbnb vs Hotels</p>
            <p>Dilip Thiagarajan (dt372) , Ji Hun Kim (jk2227) , Matt White (mpw73) , Rudy Winkler (rgw66)</p>
        </div>
        <h1 style="font-size: 55px; font-family:Futura; color: #626262">
                        <font color="black">Ho</font><font color="#589442">tel</font>
                         or
                        <font color="#ff5a5f">Airbnb</font>?
        </h1>
        {% if not airbnb_output %}
        <div id="main_head">
        {% else %}
        <div style="display: none" id="main_head">
        {% endif %}
            <button class="btn btn-info" onclick="show_words(event)"> Start Search </button>
        </div>
        {% if airbnb_output or hotel_output %}
        <div id="main_page">
        {% else %}
        <div style="display: none" id="main_page">
        {% endif %}
            <form class="form-inline global-search" method='GET' id="wc_form">
                <div class="word_cloud">
                {% for  word in words %}
                    <span class="wc_word" id="{{ word }}" onclick="wc_selection(event)">{{ word }}</span>
                {% endfor %}
                <input id="input" type="input" name="search" class="form-control" placeholder="Your Input">
                </div>
            </form>
            <div class="submit_button" id="submit_button">
                <button class="btn btn-info" onclick="submit_form()"> Go! </button>
            </div>
            <br/>
            {% if airbnb_output or hotel_output %}
            <h4>Results For:</h4>
            <p>{{ search }}</p><br/>
            <div class="output">
                <h3><font color="black">Ho</font><font color="#589442">tel</font></h3>
            {% for line in hotel_output %}
                <a href="{{ line.listing_url }}" class="tile" target="_blank">
                    <img src="{% static 'img/tripadvisor1600.png'%}" class="tile_icon">
                    <b>{{ line.name }}</b><br/>
                    Sentiment:
                    <span onload="colorize({{ line.sentiment_analysis_score }})">{{ line.sentiment_analysis_score }}</span>
                    <br/>
                    <br/>
                    <br/>
                    {{line.review}}
                </a>
            {% endfor %}
            </div>
            <div class="output">
                <h3><font color="#ff5a5f">Airbnb</font></h3>
                {% for line in airbnb_output %}
                <a href="{{ line.listing_url }}" class="tile" target="_blank">
                    <img src="{{ line.image_url }}" class="tile_icon">
                    <b>{{ line.name }}</b><br/>
                    Sentiment: <span>{{ line.sentiment_analysis_score }}</span>
                    <br/>
                    <br/>
                    <br/>
                    {{line.review}}
                </a>
                {% endfor %}
            </div>

{#            <div class="pagination">#}
{#                <span class="step-links">#}
{#                    {% if output.has_previous %}#}
{#                    <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>#}
{#                    {% endif %}#}
{##}
{#                    <!-- Showing the page numbers in Html Page -->#}
{#                    <span class="current">#}
{#                    Page _{{ output.number }}_ of _{{ output.paginator.num_pages }}_#}
{#                    </span>#}
{##}
{#                    {% if output.has_next %}#}
{#                    <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>#}
{#                    {% endif %}#}
{#                </span>#}
{#            </div>#}
            {% endif %}
        </div>
    </body>
</html>